# vim ft=yaml
# travis-ci.org definition for nipy build
#
# We pretend to be erlang because we need can't use the python support in
# travis-ci; it uses virtualenvs, they do not have numpy, scipy, matplotlib,
# and it is impractical to build them
#
before_install:
    - sudo add-apt-repository "deb https://cran.r-project.org/bin/linux/ubuntu precise/"
    - sudo apt-get -qq update
    - sudo apt-get install r-base-dev --force-yes
language: erlang
env:
    # Enable python 2 and python 3 builds. Python3 available in Ubuntu 12.04.
    - PYTHON=python PYSUF=''
    - PYTHON=python3 PYSUF=3
install:
    - sudo apt-get update
    - sudo apt-get install $PYTHON-dev
    - sudo apt-get install $PYTHON-numpy
    - sudo apt-get install $PYTHON-scipy
    - sudo apt-get install python-matplotlib
    - sudo apt-get install r-base-dev
    - sudo apt-get install python-tz
    - sudo apt-get install pandoc
    - sudo pip install -r requirements.docs.txt
    - sudo pip install -U rpy2
script:
    # make the html
    - make all

